@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination {
  @apply mx-auto flex flex-wrap justify-between items-center space-x-0
    md:space-x-2;
}

.pagination .disabled a {
  @apply opacity-30 !cursor-default !bg-gray-300 !text-gray-500
    hover:shadow-none;
}

.pagination li a {
  @apply rounded-full w-10 h-10 inline-flex items-center justify-center
    transition-all duration-300 ease-in-out text-[11.5px] tracking-[2px]
    font-bold uppercase bg-violet-600 py-4 px-5 text-white hover:bg-white
    hover:text-violet-600 hover:shadow-2xl;
}

.pagination li.active a {
  @apply bg-white shadow-2xl text-violet-600;
}

.pagination li:first-child {
  @apply !mr-2 md:!mr-5;
}

.pagination li:last-child {
  @apply !ml-2 md:!ml-5;
}

.pagination li:first-child a,
.pagination li:last-child a {
  @apply w-auto px-3 md:px-5 rounded-none;
}
